* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-flex {
    margin: 50px auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 20%;
    height: 500px;
    border: 2px solid #000;
    margin-right: 20px;
    transition: width 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sidebar:hover {
    width: 40%;
}

main {
    flex-grow: 1;
    height: 500px;
    border: solid 2px #000;
    background-color: chocolate;
    position: relative;
}

ul {
    list-style: none;
}

li {
    width: 100%;
    height: calc(100% / 7);
    color: cornflowerblue;
    background-color: cornflowerblue;
    border: 1px solid #000;
    transition: color 2s;
    text-align: center;
    line-height: 60px;
}

li:hover {
    color: #000;
}

.ball {
    width: 50px;
    height: 50px;
    background-color: cyan;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    animation: ball 10s linear;
}

@keyframes ball {
    0% {
        top: 0;
        left: 0;
    }
    10% {
        top: 0;
        left: calc(100% - 50px);
    }
    20% {
        top: calc(100% - 50px);
        left: calc(100% - 50px);
    }
    30% {
        top: calc(100% - 50px);
        left: 50px;
    }
    40% {
        top: 50px;
        left: 50px;
    }
    50% {
        top: 50px;
        left: calc(100% - 150px);
    }
    60% {
        top: calc(100% - 150px);
        left: calc(100% - 150px);
    }
}